{% load i18n %}
<div class="modal-dialog">
    <div class="modal-content">
        <form action="" method='POST'>
            {% csrf_token %}
            <div class="modal-header">
                <h4 class="modal-title">{% trans "Delete client" %}</h4>
            </div>
            <div class="modal-body">
                <p>
                    {% trans "Are you sure you would like to delete this client? You will not be able to undo this
                    operation!" %}
                </p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">{% trans "Delete" %}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
            </div>
        </form>
    </div
</div>