{% extends "core/base.html" %}
{% load i18n widget_tweaks %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="row form-group">
                <div class="container-fluid">
                    <div class="col-lg-12 col-md-12">
                <div class="header">
                    <h4 class="title">{{ title }}</h4>
                </div>
                <div class="content">
                    <form method='POST' role="form" action=''>
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">
                                <i class="fa fa-times"></i>
                            </button>
                            {% for error in form.non_field_errors %}
                            <i class="fa fa-times"></i> {{ error }}
                            <br>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for='{{ form.name.id_for_label }}'>{% trans "Name" %} </label>
                                    {% trans "Camera name" as camera_name %}
                                    {% render_field form.name placeholder=camera_name class="form-control border-input" %}
                                    {{ form.name.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for='{{ form.url.id_for_label }}'>{% trans "URL" %} </label>
                                    {% trans "Camera url" as camera_url %}
                                    {% render_field form.url placeholder=camera_url class="form-control border-input" %}
                                    {{ form.url.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for='{{ form.description.id_for_label }}'>{% trans "Description" %} </label>
                                    {% trans "Camera description" as camera_description %}
                                    {% render_field form.description placeholder=camera_description class="form-control border-input" %}
                                    {{ form.description.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for='{{ form.comments.id_for_label }}'>{% trans "Comments" %} </label>
                                    {% trans "Camera comments" as camera_comments %}
                                    {% render_field form.comments placeholder=camera_comments class="form-control border-input" %}
                                    {{ form.comments.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-info btn-fill btn-wd">
                                {% if is_new_camera %}
                                    {% trans "Submit" %}
                                    {% else %}
                                    {% trans "Update" %}
                                {% endif %}
                            </button>
                            <a href="{% url "camera:index" %}" class="btn btn-danger btn-fill btn-wd">{% trans "Cancel" %}</a>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
