{% load i18n staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{ page_title }}</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    {% block header %}
    {% include "core/header_styles.html" %}
    {% include "core/header_js.html" %}
    {% endblock %}
</head>
<body>
{% block siderbar %}
{% include "core/sidebar.html" %}
{% endblock %}
<div class="wrapper">
    <div class="main-panel" id="main-panel">
        {% block navigation %}
        {% include "core/navigation.html" %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block footer %}
        {% include "core/footer.html" %}
        {% endblock %}
    </div><!-- /.main-panel -->
</div><!-- /.wrapper -->
{% include "core/bottom_js.html" %}
{% block bottom %}
{% endblock %}
</body>
</html>