{% load i18n%}

<div class="sidebar" data-background-color="white" data-active-color="danger">

<!--
    Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
    Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
-->

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href='#' class="simple-text">
                VIDEO MONITOR
            </a>
        </div>

        <ul class="nav">
            <!--<li class="{{ dashboard_active }}">
                <a href="dashboard.html">
                    <i class="ti-panel"></i>
                    <p>Dashboard</p>
                </a>
            </li>!-->
            <li class="{{ camera_active }}">
                <a href='{% url "camera:index" %}'>
                    <i class="ti-video-camera"></i>
                    <p>Webcams</p>
                </a>
            </li>
             <li class="{{ user_active }}">
                <a href='{% url "user:index" %}'>
                    <i class="ti-user"></i>
                    <p>Users</p>
                </a>
            </li>
        </ul>
    </div>
</div>